:root {
    --background-color: rgb(211, 177, 177);
    --light-color: #ad8989;
    --dark-color: rgb(0, 0, 0);
    --link-color: rgb(255, 0, 153);
}

body{
    font-family: "Nerko One", cursive;
    font-weight: auto;
    font-style: normal;
    background-color: var(--background-color);
    margin: 0 1 em;
    font-size: 16px;
}

main{
    position: relative; 
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(232, 223, 210);
}

#head {
    display: flex;
    justify-content: space-between;
    }

.sub-head {
    margin-left: auto;
    order: 2;
}
#head h3 a{
    color: var(--dark-color);
    text-decoration: none;
}

h1{
    font: weight 100px;
    font-size: 3em;
}

p{
    font-family: "Handjet", sans-serif;
    font-size: 24px;
    margin: auto;
}

.post{
    border: 1px solid var(--dark-color);
    margin-bottom: 1em;
    padding: .5em 1em;
}

/* changes the color of text*/
#post {
    border: 1px solid var(--dark-color);
    background-color: gold;
    margin-bottom: 1em;
    padding: .5em 1em;
}

/* these styles are shared between .post and #post */
.post, #post{
    .img-container {
        aspect-ratio: 3/2;
    }
    img {   /*sizing of the images in post */
        width: 100%;
        height: auto;
        display: block;
    }
    a {  /* the color of the link and text on index */
        color: var(--link-color);
        background-color: var(--light-color);
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

/*changing the color and boldness of the second h2, secons box */
.special-headline {
    font-weight: 900;
    color:rgb(255, 0, 153)
}

.highlight {
    background-color: var(--dark-color);
    color: var(--light-color);
    h2{
        color: var(--light-color);
    }
}

.bold {
    font-weight: 900;
}